#mac
.DS_Store
#idea
.idea
*.iml
#maven
target
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
#eclipse
.settings
.classpath
.factorypath
.project
.metadata
.recommenders
.factorypath
.springBeans